@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo ao Cadastro Escolar</h1>
    
</div>
<a asp-action="Cadastro">Cadastrar aluno</a>
<p><a asp-action="Listagem">Listagem de Alunos</a></p>